*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

:root {
    --cor-fundo-forte: #121212;
    --azul-forte-nasa: #20709C;
}

header {
    z-index: 1000;
    background-color: black;
    /* border: solid red; */
    box-shadow: 0 2px 4px white;
    
}

.container {
    background-color: black;
}

.navs-links a {
    color: white;
}     

.navs-links a:hover {

    color: var(--azul-forte-nasa);
}

.navs-links {
    display: flex;
    list-style: none;
    color: white;
    margin-right: 1%;

}

.navs-links li {

    margin-left: 2rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

}

.logo {
    color: white;
    margin-left: 1%;
    
    
}

.tela-inicio {
    background-image: url(/Projeto-API/image/imagem.nasa.jpg) ;
    height: 100vh;
    z-index: 1000;
    color: #ffffff;
    /* border: solid red; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.tela-inicio h1 {
    margin-top: 10%;
    margin-left: 5%;
}


.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    border-top: solid 2px white;
    background-color: var(--cor-fundo-forte);
    color: rgb(192, 189, 189);
    height: 12vh;
    /* border: solid rebeccapurple; */

}
